.panel-body {
	background:#CCEEFF;
}
.panel{
	background-color:#000000;
}
html body {
    background-color: #e9f0f8;
}
a.button { 
	padding: 5px;
    text-decoration: none;
    color: white;
    background-color: #337ab7;
    border-color: #2e6da4;
    -webkit-appearance: button;
    -moz-appearance: button;;
}
hr {
  	display: block;
   	height: 1px;
  	border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
